services:

  redis:
    image: redis/redis-stack:7.2.0-v9
    container_name: redis
    restart: unless-stopped
    volumes:
      - ./chat-service/redis-data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 3s
      retries: 5
    deploy:
      resources:
        reservations:
          cpus: "0.2"
          memory: 256M
        limits:
          cpus: "0.4"
          memory: 512M

  chat-service:
    build: ./chat-service
    container_name: chat-service
    restart: unless-stopped
    volumes:
      - ./chat-service:/workspace
    env_file:
      - .env
    depends_on:
      redis:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s
    deploy:
      resources:
        reservations:
          cpus: "0.15"
          memory: 128M
        limits:
          cpus: "0.3"
          memory: 256M

  telegram-bot:
    build: ./telegram-bot
    container_name: telegram-bot
    restart: unless-stopped
    env_file:
      - .env
    depends_on:
      chat-service:
        condition: service_healthy
    deploy:
      resources:
        reservations:
          cpus: "0.15"
          memory: 128M
        limits:
          cpus: "0.3"
          memory: 256M

  leetcode-service:
    build: ./leetcode-service
    container_name: leetcode-service
    restart: unless-stopped
    ports:
      - 8000:8000
    deploy:
      resources:
        limits:
          cpus: "0.50"
          memory: 128M 

volumes:
  redis-data: